<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rsu_itcjapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sga"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sga"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSU_ITCJAPP">
        <activity
            android:name="com.example.rsu_itcjapp.OpcionesCoordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rsu_itcjapp.OpcionesAlumnoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rsu_itcjapp.MenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rsu_itcjapp.RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rsu_itcjapp.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rsu_itcjapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>